<div>
    {% comment %}footer{% endcomment %}
</div>

{% schema %}
{
    "name": "t:sections.footer.name",
    "tag": "footer",
    "settings": [
        {
            "type": "paragraph",
            "content": "t:sections.footer.settings.paragraph"
        }
    ]
}
{% endschema %}
