.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.text-shadow {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

@media (min-width: 680px) {
  .text-shadow {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.transition {
  transition: all 0.2s linear;
}

.font-futura {
  letter-spacing: 0.7px;
}

.two-lines-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-height: 120%; /* fallback */
  max-height: 140%;
}
