# docs: https://www.npmjs.com/package/browserslist
# run '$ npx browserslist' in .config/ directory to see wich browsers are selected by your queries for [production].

[development]
last 10 years
> 1%
not dead

[production]
last 10 years
> 1%
not dead